doc/xsd/actionPrice.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
			xmlns:acp="http://www.stormware.cz/schema/version_2/actionPrice.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/actionPrice.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/actionPrice.xsd"
			elementFormDefault="qualified">

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd"	schemaLocation="documentresponse.xsd"/>


<xsd:element name="actionPrice" type="acp:actionPriceType"/>

<!-- **************************************************************************
	  	Cenové akce
	   ************************************************************************** -->

  <xsd:complexType name="actionPriceType">
    <xsd:sequence>
      <xsd:element name="actionPriceHeader" type="acp:actionPriceHeaderType" minOccurs="0"/>
      <xsd:element name="actionPriceItem" type="acp:actionPriceItemType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Verze 2.0</xsd:documentation></xsd:annotation>
      </xsd:element>
      <xsd:element name="actionPriceStocks" type="acp:actionPriceStocksType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Verze 2.1 a vyšší</xsd:documentation>
            
          </xsd:annotation>
      </xsd:element>
      <xsd:element name="actionPriceCustomers" type="acp:actionPriceCustomersType" minOccurs="0"/>
      <xsd:element name="actionPriceGroups" type="acp:actionPriceGroupsType" minOccurs="0"/>
    </xsd:sequence>                                 
    <xsd:attribute name="version" type="acp:acpVersionType" use="required"/>
  </xsd:complexType>

  <xsd:simpleType name="acpVersionType">
    <xsd:annotation>
      <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="2.0"/>
      <xsd:enumeration value="2.1"/>
    </xsd:restriction>
  </xsd:simpleType>
  
<xsd:complexType name="actionPriceHeaderType">
	<xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID záznamu (pouze pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	   <xsd:element name="name" type="typ:string32" minOccurs="1">
      <xsd:annotation>
       <xsd:documentation>Název akèní ceny.</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
    <xsd:element name="description" type="typ:string240" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Popis akèní ceny.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="validityAction" type="acp:validityActionType" minOccurs="1">
      <xsd:annotation>
        <xsd:documentation>Platnost akèní ceny.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
      <xsd:annotation>
        <xsd:documentation>Sleva v procentech. Pokud není definována, bere se jako NULOVÁ.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="deriveFromAccesoryPrice" type="typ:idsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odvozovat z vedlejší ceny (jen E1).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="rounding" type="typ:roundingType" minOccurs="0" default="0,01">
      <xsd:annotation>
        <xsd:documentation>Zaokrouhlení výsledné akèní ceny. Pokud není uvedeno zaokrouhlení, bude pro každou zásobu použito stejné zaokrouhlení, jako u ceny, z níž je akèní cena vypoèítána.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="note" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Poznámka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

  <!-- akèní ceny zásob -->
  <xsd:complexType name="actionPriceItemType">
    <xsd:annotation>
      <xsd:documentation>Akèní ceny zásob. Verze 2.0.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="actionPriceStockItem" type="acp:actionPriceStockItemType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="actionPriceStocksType">
    <xsd:annotation>
      <xsd:documentation>Akèní ceny zásob. Verze 2.1 a vyšší.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="actionPriceStockItem" type="acp:actionPriceStockItemType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Odbìratelé akèní ceny zásob -->
  <xsd:complexType name="actionPriceCustomersType">
    <xsd:annotation>
      <xsd:documentation>Odbìratelé Akèní ceny zásob.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="customer" type="acp:customerType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Odbìratelé akèní ceny -->
  <xsd:complexType name="customerType">
    <xsd:all>
      <xsd:element name="id" type="typ:idType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Odkaz na ID adresy. Vyšší prioritu má element "id".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extId" type="typ:extIdType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Odkaz na externí ID adresy. V databázi se nachází speciální tabulka obsahující
            vazbu mezi agendou a externí databází.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>

  <!-- Skupiny odbìratelù akèní ceny zásob -->
  <xsd:complexType name="actionPriceGroupsType">
    <xsd:annotation>
      <xsd:documentation>Skupiny Odbìratelù Akèní ceny zásob.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="group" type="acp:groupType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Skupiny Odbìratelù akèní ceny -->
  <xsd:complexType name="groupType">
    <xsd:all>
      <xsd:element name="name" type="typ:string16" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Název skupiny adres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="descripton" type="typ:string32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Popis skupiny adres.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  
<!-- **************************************************************************-->

<!-- platnost akèní ceny -->  
<xsd:complexType name="validityActionType">
  <xsd:all>
    <xsd:element name="dateFrom" type="xsd:date" minOccurs="1">
      <xsd:annotation>
        <xsd:documentation>Datum od.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateTill" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum do.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    </xsd:all>
</xsd:complexType>      


<!-- popis skladové zásoby v akèní cenì -->
<xsd:complexType name="actionPriceStockItemType">
	<xsd:all>
	<xsd:element name="stock" type="acp:stockType" minOccurs="0">
    <xsd:annotation>
      <xsd:documentation>Skladová zásoba.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
    <xsd:element name="text" type="typ:string90" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Název.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="storage" type="typ:refTypeStorage" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Èlenìní.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="defaultPriceStock" type="acp:defaultPriceStockType" minOccurs="0"  maxOccurs="1">
      <xsd:annotation>
        <xsd:documentation>Pùvodní cena skladové zásoby.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="actionPriceStock" type="acp:actionPriceStockType" minOccurs="0"  maxOccurs="1">
      <xsd:annotation>
        <xsd:documentation>Akèní cena skladové zásoby.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	</xsd:all>
</xsd:complexType>

  <xsd:complexType name="stockType">
    <xsd:all>
      <xsd:element name="id" type="typ:idType" minOccurs="0" />
      <xsd:element name="extId" type="typ:extIdType" minOccurs="0" />
      <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Kód zásoby.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>      
    </xsd:all>
  </xsd:complexType>

  <!-- výchozí cena skladové zásoby -->
  <xsd:complexType name="defaultPriceStockType">
    <xsd:sequence>
      <xsd:element name="price" type="typ:currencyType">
        <xsd:annotation>
          <xsd:documentation>Výchozí cena skladové zásoby.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="payVAT" type="typ:boolean">
        <xsd:annotation>
          <xsd:documentation>Cena je uvedena: bez DPH, vèetnì DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="foreignCurrency" type="acp:typeAcpCurrencyForeign" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Cizí mìna.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="typeAcpCurrencyForeign">
	<xsd:all>
		<xsd:element name="currency" type="typ:refType">
			<xsd:annotation>
				<xsd:documentation>ID - odkaz na cizí mìnu, IDS - kod mìny.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rate" type="xsd:float" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kurs použitý pro výpoèet èástek v cízí mìnì.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="amount" type="xsd:integer" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Množství cizí mìny pro kursový pøepoèet.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
	</xsd:all>
</xsd:complexType>



  <!-- akèní cena skladové zásoby -->
  <xsd:complexType name="actionPriceStockType">
    <xsd:sequence>
      <xsd:element name="price" type="typ:currencyType" minOccurs="0"  maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Akèní cena skladové zásoby.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Sleva v procentech.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixedPrice" type="acp:fixedPriceType" minOccurs="0"  maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Fixace Akèní ceny skladové zásoby.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- fixace akèní ceny -->
  <xsd:simpleType name="fixedPriceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>Není fixováno.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="price">
        <xsd:annotation>
          <xsd:documentation>Fixace dle ceny.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="discount">
        <xsd:annotation>
          <xsd:documentation>Fixace dle slevy.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>


 <!-- RESPONSE -->

<xsd:element name="actionPriceResponse" type="acp:actionPriceResponseType">
	<xsd:annotation>
		<xsd:documentation>Odpovìï na import akèních cen. Obsahuje podrobnosti zpracování.</xsd:documentation>
	</xsd:annotation>
</xsd:element>

<xsd:complexType name="actionPriceResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
