doc/xsd/prijemka.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
			xmlns:pri="http://www.stormware.cz/schema/version_2/prijemka.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/prijemka.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/prijemka.xsd"
			elementFormDefault="qualified">

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" 					schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" 					schemaLocation="print.xsd"/>

<!-- **************************************************************************
		Pøíjemky
	 ************************************************************************** -->

<!-- REQUEST -->
<xsd:element name="prijemka" type="pri:prijemkaType"/>

  <xsd:complexType name="prijemkaType">
	<xsd:sequence>
		<xsd:element name="links" type="typ:linksType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Pomocí tohoto bloku lze vytvoøit nový doklad z jiného dokladu. Vloží se celý doklad.
					Vložený doklad lze upravit pomocí jednotlivých elementù u dokladu.
					Povolené jsou vazby z agendy:
					- Vydané objednávky
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="prijemkaHeader" type="pri:prijemkaHeaderType" minOccurs="0"/>
	 	<xsd:element name="prijemkaDetail" type="pri:prijemkaDetailType" minOccurs="0"/>
		<xsd:element name="prijemkaSummary" type="pri:prijemkaSummaryType" minOccurs="0"/>
		<xsd:element name="linkedDocuments" type="typ:linksType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Vazby na doklad. Informace o vazbách dokladu na jiné doklady (pouze pro export).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Po vytvoøení záznamu se provede jeho tisk.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="pri:priVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="priVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>	
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="prijemkaHeaderType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="storno" type="typ:stornoType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Pøíznak „Storno/Stornujícího“  dokladu (pouze pro export).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="date" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum vystavení dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string240" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="acc" type="typ:numberAccountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Úèet. Jen u úètování zásob zpùsobem A.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Párový symbol. Jen u úètování zásob zpùsobem A.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="isExecuted" type="typ:boolean" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Vyøízeno. Používá se jen pøi exportu dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="isDelivered" type="typ:boolean" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pøeneseno. Používá se jen pøi exportu dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="regVATinEU" type="typ:refTypeRegVATinEU" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Registrace DPH v EU.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="histRate" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Doklad má položky obsahující historickou sazbu DPH. Jen pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamèené prvním stupnìm mohou editovat pouze uživatelé, kteøí mají v agendì Pøístupová práva nastaveno právo Editace záznamù uzamèených I. stupnìm. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek II (pouze verze E1). Uzamèení dokladù pro uživatele s vyšším oprávnìním. Takto uzamèené doklady nelze editovat. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Oznaèení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "oznaèený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="labels" type="typ:labelsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Štítky záznamu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="validate" type="typ:typeValidate" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podmínìná kontrola dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	</xsd:all>
</xsd:complexType>


 <xsd:complexType name="prijemkaDetailType" mixed="true">
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="prijemkaItem" type="pri:prijemkaItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Definice "Textové" nebo "Skladové" položky dokladu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roundingItem" type="typ:roundingItemType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Položka dokladu - výpoèet DPH ze zaokrouhlení (pouze pro export).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prijemkaAccessoryChargesItem" type="pri:prijemkaAccessoryChargesItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Definice položky dokladu typu "Vedlejší náklady".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
 </xsd:complexType>


  <xsd:complexType name="prijemkaSummaryType">
	<xsd:all>
    <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zaokrouhlení celkové èástky dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="calculateVAT" type="xsd:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Vypoèíst DPH ze zaokrouhlení.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="typeCalculateVATInclusivePrice" type="typ:typeCalculateVATInclusivePriceType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Zpùsob výpoètu hodnoty DPH z èástky vèetnì danì dle § 37. Pokud není element uveden, použije se zpùsob výpoètu dle data vystavení dokladu. (pouze CZ verze)</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè. V pøípadì použití cizí mìny, je tuzemská èástka pøi importu ignorována.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<!--Definice textové nebo skladové položky dokladu-->
 <xsd:complexType name="prijemkaItemType">
	<xsd:all>
		<xsd:element name="link" type="typ:linkItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Pomocí tohoto bloku lze vytvoøit položku z jiného dokladu. Vložený doklad lze upravit pomocí zadaných parametrù u dokladu.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="linkedDocument" type="typ:linkedDocumentType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Vazba na doklad. Informace o vazbì položky exportovaného dokladu na položku jiného dokladu (pouze pro export).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text položky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	  	<xsd:element name="quantity" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Množství.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="unit" type="typ:unitType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Mìrná jednotka.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
	  		<xsd:annotation>
	  			<xsd:documentation>Koeficient.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
	  		<xsd:annotation>
	  			<xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	    <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
	  		<xsd:annotation>
	  			<xsd:documentation>Sazba DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
		<xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kè.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí mìna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kód (pouze u textové položky).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="linkToStock" type="typ:linkToStockType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Identifikátor zásoby u textových položek s vazbou na sklad (pouze pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	  <xsd:element name="acc" type="typ:numberAccountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Úèet. Jen u úètování zásob zpùsobem A.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="expirationDate" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum expirace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>


 <!--Definice položky dokladu typu "Vedlejší náklady"-->
  <xsd:complexType name="prijemkaAccessoryChargesItemType">
    <xsd:all>
      <xsd:element name="id" type="typ:idType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantity" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Množství.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
        <xsd:annotation>
          <xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
        <xsd:annotation>
          <xsd:documentation>Sazba DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
        <xsd:annotation>
          <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Kè.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Cizí mìna.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="note" type="typ:string90" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Poznámka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="centre" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Støedisko.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="activity" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Èinnost.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contract" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zakázka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Volitelný parametr.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>

<!-- RESPONSE -->

<xsd:element name="prijemkaResponse" type="pri:prijemkaResponseType"/>

<xsd:complexType name="prijemkaResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
