doc/xsd/prodejka.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
            xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
            xmlns:pro="http://www.stormware.cz/schema/version_2/prodejka.xsd"
            xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
            xmlns="http://www.stormware.cz/schema/version_2/prodejka.xsd"
            targetNamespace="http://www.stormware.cz/schema/version_2/prodejka.xsd"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" 					schemaLocation="type.xsd"/>
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" 					schemaLocation="print.xsd"/>

    <!-- **************************************************************************
           Prodejky
    ************************************************************************** -->

    <!-- REQUEST -->
    <xsd:element name="prodejka" type="pro:prodejkaType"/>

    <xsd:complexType name="prodejkaType">
        <xsd:sequence>
            <xsd:element name="cancelDocument" type="typ:cancelDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pomocí tohoto bloku bude vytvoøen storno doklad. V programu POHODA bude vyhledán doklad, který má být stornován, pokud bude nalezen, bude k nìmu vytvoøen stornující doklad.
                        Vložený doklad lze upravit pomocí jednotlivých elementù v prodejkaHeader a eKasa (ostatní elementy budou ignorovány).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="links" type="typ:linksType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pomocí tohoto bloku lze vytvoøit nový doklad z jiného dokladu. Vloží se celý doklad.
                        Vložený doklad lze upravit pomocí jednotlivých elementù u dokladu.
                        Povolené jsou vazby z agendy:
                        - Pøijaté objednávky (pro typ Prodejka)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prodejkaHeader" type="pro:prodejkaHeaderType" minOccurs="0"/>
            <xsd:element name="prodejkaDetail" type="pro:prodejkaDetailType" minOccurs="0"/>
            <xsd:element name="prodejkaPayments" type="pro:paymentsType" minOccurs="0"/>
            <xsd:element name="prodejkaSummary" type="pro:prodejkaSummaryType" minOccurs="0"/>
            <xsd:element name="linkedDocuments" type="typ:linksType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Vazby na doklad. Informace o vazbách dokladu na jiné doklady (pouze pro export). 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachments" type="typ:attachmentsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Záznamy ze záložky "Dokumenty".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EET" type="typ:EETType" minOccurs="0"/>
            <xsd:element name="eKasa" type="pro:eKasaType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Informace pro eKasu (pouze SK verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Po vytvoøení záznamu se provede jeho tisk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="version" type="pro:proVersionType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="proVersionType">
        <xsd:annotation>
            <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="2.0"/>	
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="prodejkaHeaderType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extId" type="typ:extIdType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        Odkaz na záznam v externí databázi. V databázi se nachází speciální tabulka obsahující
                        vazbu mezi agendou a externí databází.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prodejkaType" type="pro:prodejkaTypeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ dokladu. Pokud není zadán, bude nastavena výchozí hodnota "prodejka".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storno" type="typ:stornoType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pøíznak „Storno/Stornujícího“  dokladu (pouze pro export).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="typ:numberType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum vystavení dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accounting" type="typ:accountingType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøedkontace. Pokud není uveden typ pøedkontace, je nastaveno 'Nevím'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string240" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zákazníkova adresa.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="paymentType" type="typ:paymentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Forma úhrady</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cenová hladinu odbìratele.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kasa" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kasa.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intNote" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Interní poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="histRate" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Doklad má položky obsahující historickou sazbu DPH. Jen pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamèené prvním stupnìm mohou editovat pouze uživatelé, kteøí mají v agendì Pøístupová práva nastaveno právo Editace záznamù uzamèených I. stupnìm. Pouze pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Zámek II (pouze verze E1). Uzamèení dokladù pro uživatele s vyšším oprávnìním. Takto uzamèené doklady nelze editovat. Pouze pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="notPost" type="typ:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Neúètovat. Používá se jen pouze pro doklady typu Vklad a Výbìr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Oznaèení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "oznaèený záznam".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="labels" type="typ:labelsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Štítky záznamu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Volitelný parametr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validate" type="typ:typeValidate" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podmínìná kontrola dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="prodejkaDetailType">
        <xsd:sequence>
            <xsd:element name="prodejkaItem" type="pro:prodejkaItemType" maxOccurs="unbounded"/>
            <xsd:element name="roundingItem" type="typ:roundingItemType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Položka dokladu - výpoèet DPH ze zaokrouhlení (pouze pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="paymentsType">
        <xsd:sequence>
            <xsd:element name="paymentItem" type="pro:paymentItemType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Úhrady dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="prodejkaSummaryType">
        <xsd:all>
            <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zaokrouhlení celkové èástky dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="calculateVAT" type="xsd:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Vypoèíst DPH ze zaokrouhlení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeCalculateVATInclusivePrice" type="typ:typeCalculateVATInclusivePriceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zpùsob výpoètu hodnoty DPH z èástky vèetnì danì dle § 37. Pokud není element uveden, použije se zpùsob výpoètu dle data vystavení dokladu. (pouze CZ verze)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="paymentItemType">
        <xsd:all>
            <xsd:element name="paymentType" type="typ:paymentType">
                <xsd:annotation>
                    <xsd:documentation>Forma úhrady</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text (pouze pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="received" type="typ:currencyType">
                <xsd:annotation>
                    <xsd:documentation>Pøijato.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="receivedHomeCurrency" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøijato (pouze pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>    
            <xsd:element name="paymentAdvanced" type="pro:paymentAdvancedType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ platby.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="returned" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vráceno (pouze pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="paymentAdvancedType">
        <xsd:choice>     
            <xsd:group ref="pro:voucherPaymentGroup">
                <xsd:annotation>
                    <xsd:documentation>Typ Stravenka.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>

            <xsd:group ref="pro:foreignPaymentGroup">
                <xsd:annotation>
                    <xsd:documentation>Typ Cizí mìna.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="pro:creditcardPaymentGroup">
                <xsd:annotation>
                    <xsd:documentation>Typ Platební karta.</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
            <xsd:group ref="pro:transferPaymentGroup">
                <xsd:annotation>
                    <xsd:documentation>Typ Pøevodem (QR Platba).</xsd:documentation>
                </xsd:annotation>
            </xsd:group>
        </xsd:choice>
    </xsd:complexType>

    <xsd:group name="voucherPaymentGroup">
        <xsd:sequence>
            <xsd:element name="valueFoodVoucher" type="typ:currencyType">
                <xsd:annotation>
                    <xsd:documentation>Hodnota stravenky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="foreignPaymentGroup">
        <xsd:sequence>
            <xsd:element name="rate" type="xsd:float">
                <xsd:annotation>
                    <xsd:documentation>Kurs použitý pro výpoèet èástek v cízí mìnì.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>Množství cizí mìny pro kursový pøepoèet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="creditcardPaymentGroup">
        <xsd:sequence>
            <xsd:element name="paymentTerminal" type="typ:boolean">
                <xsd:annotation>
                    <xsd:documentation>Uhrazeno pøes platební terminál.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="symVar" type="typ:symVarType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Variabilní symbol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="account" type="typ:accountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Úèet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="transferPaymentGroup">
        <xsd:sequence>
            <xsd:element name="symVar" type="typ:symVarType" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Variabilní symbol.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="account" type="typ:accountType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Úèet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="prodejkaItemType">
        <xsd:all>
            <xsd:element name="link" type="typ:linkItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pomocí tohoto bloku lze vytvoøit položku z jiného dokladu. Vložený doklad lze upravit pomocí zadaných parametrù u dokladu.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="linkedDocument" type="typ:linkedDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Vazba na doklad. Informace o vazbì položky exportovaného dokladu na položku jiného dokladu (pouze pro export).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="refundItem" type="typ:sourceDocumentItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Odkaz na refundovanou položku. Zkontroluje se, zda je možné provést refundaci. Pokud ano, vytvoøí se vazba na refundované položce. Nepøenášejí se žádná políèka z refundované položky.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extId" type="typ:string64" minOccurs="0"/>
            <xsd:element name="parentCompStock" type="typ:parentCompStockType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Vazba položky na položkovou zásobu (komplet nebo souprava). Vazba se vytváøí pøes extId.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text položky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quantity" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Množství.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unit" type="typ:unitType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Mìrná jednotka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
                <xsd:annotation>
                    <xsd:documentation>Koeficient.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
                <xsd:annotation>
                    <xsd:documentation>Sazba DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
                <xsd:annotation>
                    <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="recyclingContrib" type="typ:recyclingContribType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Recyklaèní pøíspìvek položky. Pokud pøi importu dokladu tento element není na položce uveden, bude na skladové položce dokladu nastaven dle skladové zásoby. U textové položky nebude nastaven.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kód.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guarantee" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Délka záruky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guaranteeType" type="typ:guaranteeTypeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ záruky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="linkToStock" type="typ:linkToStockType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikátor zásoby u textových položek s vazbou na sklad. Pro import pouze pro textové položky s názvem položkové zásoby.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accounting" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøedkontace.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expirationDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum expirace.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EETItem" type="typ:EETItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ položky EET (pouze CZ verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eKasaItem" type="pro:eKasaItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Položka eKasa (pouze SK verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Volitelný parametr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType name="prodejkaTypeType">
        <xsd:annotation>
            <xsd:documentation>Typ dokladu.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="saleVoucher">
                <xsd:annotation>
                    <xsd:documentation>Prodejka.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="deposit">
                <xsd:annotation>
                    <xsd:documentation>Vklad.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="withdrawal">
                <xsd:annotation>
                    <xsd:documentation>Výbìr.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
  
    <!-- eKasa -->
    <xsd:complexType name="eKasaType">
        <xsd:annotation>
            <xsd:documentation>Informace pro eKasu (pouze SK verze).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="eKasaID" type="typ:string34" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unikátny identifikátor dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eKasaOKP" type="typ:string44" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>OKP (Overovací kód podnikate¾a).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eKasaParNumber" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poradové èíslo paragónu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eKasaDateOfPar" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Dátum a èas vytvorenia paragónu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="printFM" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Tlaè na FM.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="eKasaItemType">
        <xsd:annotation>
            <xsd:documentation>Informace pro eKasu na položce dokladu (pouze SK verze).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="refId" type="typ:string44" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unikátny identifikátor pôvodného dokladu - eKasa (používa sa pri vrátení tovaru).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="refundType" type="typ:eKasaRefundType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>eKasa typ vrátenia.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>  
        </xsd:sequence>
    </xsd:complexType>

    <!-- RESPONSE -->

    <xsd:element name="prodejkaResponse" type="pro:prodejkaResponseType"/>

    <xsd:complexType name="prodejkaResponseType">
        <xsd:complexContent>
            <xsd:extension  base="rdc:documentResponseType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
