doc/xsd/service.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd" 
            xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd" 
            xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 
            xmlns:srv="http://www.stormware.cz/schema/version_2/service.xsd" 
            xmlns="http://www.stormware.cz/schema/version_2/service.xsd" 
            targetNamespace="http://www.stormware.cz/schema/version_2/service.xsd"
            elementFormDefault="qualified" >
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" schemaLocation="documentresponse.xsd"/>
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" schemaLocation="print.xsd"/>

    <!-- ************************************************************************** 
    Servis 
    ************************************************************************** -->
  
    <!-- REQUEST -->
    <xsd:element name="service" type="serviceType"/>
  
    <xsd:complexType name="serviceType">
        <xsd:sequence>
            <xsd:element name="serviceHeader" type="srv:serviceHeaderType" minOccurs="1"/>      
            <xsd:element name="serviceSubject" type="srv:serviceSubjectType" minOccurs="1"/>
            <xsd:element name="serviceStates" type="srv:serviceStatesType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="serviceItems" type="srv:serviceItemsType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="serviceSummary" type="srv:serviceSummaryType" minOccurs="0"/>
            <xsd:element name="attachments" type="typ:attachmentsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Záznamy ze záložky "Dokumenty".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="version" type="srv:serviceVersionType" use="required"/>
    </xsd:complexType>
  
    <xsd:simpleType name="serviceVersionType">
        <xsd:annotation>
            <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="2.0"/>
        </xsd:restriction>
    </xsd:simpleType>
  
    <xsd:complexType name="serviceHeaderType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID záznamu (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serviceType" type="srv:serviceTypeType">
                <xsd:annotation>
                    <xsd:documentation>Typ servisního záznamu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="typ:numberType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Evidenèní èíslo dokladu. Pokud není hodnota uvedena, použije se èíselná øada pøednastavená v uživatelském nastavení nebo se nastaví první èíselná øada pro daný doklad.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="received" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum pøijetí do servisu. Pokud není hodnota zadaná, použije se aktuální datum nebo datum posledního záznamu, dle volby v uživatelském nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="settleUntil" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vyøídit do.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="finished" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Ukonèeno.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="executed" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vyøízeno (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expectedPrice" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Odhadovaná cena servisních prací.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expectedPriceFC" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Odhadovaná cena servisních prací v cizí mìnì.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="advancePrice" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èástka zálohy pøijaté od zákazníka na provedení servisních prací.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="advancePriceFC" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èástka zálohy pøijaté od zákazníka na provedení servisních prací  v cizí mìnì.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stav servisu. Jen pro export. Vyplòuje se automaticky, dle záložky Stav servisu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="responsiblePerson" type="typ:refTypeLong" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Odpovìdná osoba.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string240" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text dokladu servisu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zákazníkova adresa.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--kontaktní osoba provádìjící servis-->
            <xsd:element name="contactName" type="typ:string64" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Jméno a pøíjmení kontaktní osoby.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contactDetail" type="typ:string32" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Doplòující údaje ke kontaktní osobì napø. titul.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--Konec -kontaktní osoby provádìjící servis-->
            <xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cenová hladina odbìratele.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isExecuted" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Vyøízeno.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numberDocument" type="typ:documentNumberType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èíslo nebo jiná identifikace daòového dokladu, kterým bylo zboží pùvodnì vyskladnìno.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateDocument" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum vystavení daòového dokladu, kterým bylo zboží pùvodnì vyskladnìno.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="receiving" type="typ:refSrvDeliveryType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zpùsob pøijetí servisovaného pøedmìtu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="forwarding" type="typ:refSrvDeliveryType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zpùsob pøedání opraveného servisovaného pøedmìtu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intNote" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Interní poznámka, libovolný text, který nevstupuje do tiskových sestav.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="recognizedDefect" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Popis závady.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamèené prvním stupnìm mohou editovat pouze uživatelé, kteøí mají v agendì Pøístupová práva nastaveno právo Editace záznamù uzamèených I. stupnìm. Pouze pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Zámek II (pouze verze E1). Uzamèení dokladù pro uživatele s vyšším oprávnìním. Takto uzamèené doklady nelze editovat. Pouze pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Oznaèení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "oznaèený záznam".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="labels" type="typ:labelsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Štítky záznamu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Volitelný parametr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
   
    <xsd:complexType name="serviceSummaryType">
        <xsd:all>
            <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zaokrouhlení celkové èástky dokladu + typ zaokrouhlení. Pokud není uvedeno zaokrouhlení, nastaví se hodnoty z Globálního nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zaokrouhlení DPH. Pokud není uvedeno zaokrouhlení, nastaví se hodnoty z Globálního nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="calculateVAT" type="xsd:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Vypoèíst DPH ze zaokrouhlení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeCalculateVATInclusivePrice" type="typ:typeCalculateVATInclusivePriceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zpùsob výpoètu hodnoty DPH z èástky vèetnì danì dle § 37. Pokud není element uveden, použije se zpùsob výpoètu dle data zdanitelného plnìní nebo data vystavení dokladu. (pouze CZ verze)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cizí mìna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
  
    <xsd:simpleType name="serviceTypeType">
        <xsd:annotation>
            <xsd:documentation>Typ servisu.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="postWarranty">
                <xsd:annotation>
                    <xsd:documentation>Pozáruèní.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="warranty">
                <xsd:annotation>
                    <xsd:documentation>Záruèní.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
  
    <!-- Pøedmìt servisu  -->
    <xsd:complexType name="serviceSubjectType">
        <xsd:sequence>
            <xsd:element name="subject" type="srv:subjectType" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="subjectType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text položky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quantity" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Množství.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unit" type="typ:unitType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Mìrná jednotka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
                <xsd:annotation>
                    <xsd:documentation>Koeficient.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
                <xsd:annotation>
                    <xsd:documentation>Sazba DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
                <xsd:annotation>
                    <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cizí mìna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kód.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guarantee" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Délka záruky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guaranteeType" type="typ:guaranteeTypeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ záruky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="defectDescription" type="typ:string240" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Popis závady.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statusDeliveryDescription" type="typ:string150" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Popis stavu pøi pøevzetí.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="solutionDescription" type="typ:string240" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Navrhovaný zpùsob øešení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accessory" type="typ:string240" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøíslušenství pøiložené k pøedmìtu servisu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="returnParts" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Informace zda se mají vracet vadné díly.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expirationDate" type="typ:dateOrNull" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum expirace.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Volitelný parametr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
  
    <!-- Stav servisu -->
    <xsd:complexType name="serviceStatesType">
        <xsd:sequence>
            <xsd:element name="state" type="srv:stateType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
  
    <xsd:complexType name="stateType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID položky stavu (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Datum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="typ:refType" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stav servisu</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="responsiblePerson" type="typ:refTypeLong" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Odpovìdná osoba.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="companyService" type="srv:serviceAddressType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Firma.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="forwarding" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zpùsob pøedání opraveného servisovaného pøedmìtu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
  
    <!--Položky servisu-->
    <xsd:complexType name="serviceItemsType">
        <xsd:sequence>
            <xsd:element name="item" type="srv:itemType" maxOccurs="unbounded"/>
        </xsd:sequence>
    
    </xsd:complexType>
    <xsd:complexType name="itemType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extId" type="typ:string64" minOccurs="0"/>
            <xsd:element name="parentCompStock" type="typ:parentCompStockType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Vazba položky na položkovou zásobu (komplet nebo souprava). Vazba se vytváøí pøes extId.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text položky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quantity" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Množství.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unit" type="typ:unitType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Mìrná jednotka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
                <xsd:annotation>
                    <xsd:documentation>Koeficient.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
                <xsd:annotation>
                    <xsd:documentation>Sazba DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
                <xsd:annotation>
                    <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cizí mìna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kód.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="linkToStock" type="typ:linkToStockType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikátor zásoby u textových položek s vazbou na sklad. Pro import pouze pro textové položky s názvem položkové zásoby.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>      
        </xsd:all>
    </xsd:complexType>
  
    <xsd:complexType name="serviceAddressType">
        <xsd:all>
            <xsd:element name="refAD" type="typ:idType" minOccurs="0" />
            <xsd:element name="company" type="typ:stringCompany" minOccurs="0" />
        </xsd:all>
    </xsd:complexType>

    <!-- RESPONSE -->
    <xsd:element name="serviceResponse" type="srv:serviceResponseType">
        <xsd:annotation>
            <xsd:documentation>Odpovìï na import servisu. Obsahuje podrobnosti zpracování, id a èíslo vytvoøeného dokladu.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
  
    <xsd:complexType name="serviceResponseType">
        <xsd:complexContent>
            <xsd:extension base="rdc:documentResponseType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
