doc/xsd/voucher.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
            xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
            xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
            xmlns:vch="http://www.stormware.cz/schema/version_2/voucher.xsd"
            xmlns="http://www.stormware.cz/schema/version_2/voucher.xsd"
            targetNamespace="http://www.stormware.cz/schema/version_2/voucher.xsd"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" 					schemaLocation="type.xsd"/>
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>
    <xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" 					schemaLocation="print.xsd"/>

    <!-- **************************************************************************
           Pokladní doklady
    ************************************************************************** -->

    <!-- REQUEST -->
    <xsd:element name="voucher" type="vch:voucherType"/>

    <xsd:complexType name="voucherType">
        <xsd:sequence>
            <xsd:element name="cancelDocument" type="typ:cancelDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pomocí tohoto bloku bude vytvoøen storno doklad. V programu POHODA bude vyhledán doklad, který má být stornován, pokud bude nalezen, bude k nìmu vytvoøen stornující doklad.
                        Vložený doklad lze upravit pomocí jednotlivých elementù v voucherHeader (ostatní elementy budou ignorovány).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voucherHeader" type="vch:voucherHeaderType" minOccurs="0"/>
            <xsd:element name="voucherDetail" type="vch:voucherDetailType" minOccurs="0"/>
            <xsd:element name="voucherSummary" type="vch:voucherSummaryType" minOccurs="0"/>
            <xsd:element name="attachments" type="typ:attachmentsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Záznamy ze záložky "Dokumenty".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EET" type="typ:EETType" minOccurs="0"/>      
            <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Po vytvoøení záznamu se provede jeho tisk.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="version" type="vch:vchVersionType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="vchVersionType">
        <xsd:annotation>
            <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="2.0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="voucherHeaderType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extId" type="typ:extIdType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        Odkaz na záznam v externí databázi. V databázi se nachází speciální tabulka obsahující
                        vazbu mezi agendou a externí databází.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voucherType" type="vch:voucherTypeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ pokladního dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storno" type="typ:stornoType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Pøíznak „Storno/Stornujícího“  dokladu (pouze pro export).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cashAccount" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pokladna. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="typ:numberType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="originalDocument" type="typ:documentNumberType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èíslo uvedené na pøijatém výdajovém dokladu (èíslo paragonu)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="date" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum vystavení pokladního dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datePayment" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum platby</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateTax" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum zdanitelného plnìní</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateKHDPH" type="typ:dateOrNull" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum KH DPH. Pokud není datum KH DPH uveden, nebude na dokladu nastaven. Pouze pro doklady typu výdej (pouze CZ verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accounting" type="typ:accountingType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøedkontace. Pokud není uveden typ pøedkontace, je nastaveno 'Nevím'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èlenìní DPH, pøednastavená hodnota je "inland"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èlenìní KV DPH (pouze SK verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string240" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zákazníkova adresa</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Osobní adresa</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pár. symbol</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cenová hladina odbìratele</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="regVATinEU" type="typ:refTypeRegVATinEU" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Registrace DPH v EU.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MOSS" type="typ:MOSStype" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Speciální režim registrace DPH v EU, režim One Stop Shop (OSS).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="evidentiaryResourcesMOSS" type="typ:resourcesMOSStype" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Dùkazní prostøedky (OSS).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accountingPeriodMOSS" type="typ:string7" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Úèetní období (OSS).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intNote" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Interní poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="histRate" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Doklad má položky obsahující historickou sazbu DPH. Jen pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamèené prvním stupnìm mohou editovat pouze uživatelé, kteøí mají v agendì Pøístupová práva nastaveno právo Editace záznamù uzamèených I. stupnìm. Pouze pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Zámek (v E1 verzi oznaèení Zámek II). Uzamèení dokladù pro uživatele s vyšším oprávnìním. Takto uzamèené doklady nelze editovat. Pouze pro export.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
                <xsd:annotation>
                    <xsd:documentation>Oznaèení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "oznaèený záznam".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="labels" type="typ:labelsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Štítky záznamu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Volitelný parametr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validate" type="typ:typeValidate" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podmínìná kontrola dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>



    <xsd:complexType name="voucherDetailType" mixed="true">
        <xsd:sequence>
            <xsd:element name="voucherItem" type="vch:voucherItemType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Definice "Textové" nebo "Skladové" položky dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="voucherLiquidationItem" type="vch:voucherliquidationItemType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Definice položek pro likvidaci dokladu (Pohledávky/Závazku). Pouze pro import.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roundingItem" type="typ:roundingItemType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Položka dokladu - výpoèet DPH ze zaokrouhlení (pouze pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="voucherliquidationItemType">
        <xsd:sequence>
            <xsd:element name="settingsLiquidation" type="vch:settingsLiquidationType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Nastavení likvidace dokladu (pohledávky/závazku).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="liquidationItem" type="vch:liquidationItemType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Definice položek, které provádìjí likvidaci dokladu typu(Pohledávka/Závazek).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="settingsLiquidationType">
        <xsd:sequence>
            <xsd:element name="sourceAgenda" type="typ:liquidatedDocumentAgendaType">
                <xsd:annotation>
                    <xsd:documentation>Agenda likvidovaného dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sourceDocument" type="typ:sourceDocumentType">
                <xsd:annotation>
                    <xsd:documentation>Likvidovaný doklad.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="liquidationPrice" type="typ:currencyType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èástka k likvidaci.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="liquidation" type ="vch:liquidationType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Likvidace.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="liquidationItemType">
        <xsd:all>
            <xsd:element name="text" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text položky. Pokud nebude uveden, bude nastaven text z Globálního nastavení programu POHODA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quantity" type="xsd:float" fixed="1">
                <xsd:annotation>
                    <xsd:documentation>Množství na položce.Pro likvidaci dokladu vždy nastaveno "1".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="payVAT" type="typ:boolean" fixed="false">
                <xsd:annotation>
                    <xsd:documentation>Jednotková cena s/bez DPH. Pri likvidaci dokladu vždy nastaveno "false" (bez DPH).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rateVAT" type="typ:vatRateType">
                <xsd:annotation>
                    <xsd:documentation>Sazba DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pár. symbol</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accounting" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøedkontace.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èlenìní DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èlenìní KV DPH (pouze SK verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="liquidationType">
        <xsd:all>
            <xsd:element name="extId" type="typ:string64" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="voucherItemType">
        <xsd:all>
            <xsd:element name="id" type="typ:idType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extId" type="typ:string64" minOccurs="0"/>
            <xsd:element name="parentCompStock" type="typ:parentCompStockType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Vazba položky na položkovou zásobu (komplet nebo souprava). Vazba se vytváøí pøes extId.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text položky.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quantity" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Množství.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unit" type="typ:unitType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Mìrná jednotka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
                <xsd:annotation>
                    <xsd:documentation>Koeficient.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Ceny jsou uvedeny: bez DPH, vèetnì DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
                <xsd:annotation>
                    <xsd:documentation>Sazba DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
                <xsd:annotation>
                    <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cizí mìna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeServiceMOSS" type="typ:MOSStype" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Druh služby (OSS).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="typ:string90" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Poznámka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kód.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pár. symbol</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Údaje potøebné k nalezní skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="linkToStock" type="typ:linkToStockType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikátor zásoby u textových položek s vazbou na sklad. Pro import pouze pro textové položky s názvem položkové zásoby.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="accounting" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøedkontace.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èlenìní DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èlenìní KV DPH (pouze SK verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PDP" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Pøíznak Pøenesení daòové povinnosti (pouze pro pøíjmový pokladní doklad).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CodePDP" type="typ:string8" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kód zboží (pouze pro pøíjmový pokladní doklad v SK verzi).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="recyclingContrib" type="typ:recyclingContribType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Recyklaèní pøíspìvek položky. Pokud pøi importu dokladu tento element není na položce uveden, bude na skladové položce dokladu nastaven dle skladové zásoby. U textové položky nebude nastaven.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="centre" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Støedisko.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="activity" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Èinnost.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contract" type="typ:refType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zakázka.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EETItem" type="typ:EETItemType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ položky EET (pouze CZ verze).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Volitelný parametr.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="voucherSummaryType">
        <xsd:all>
            <xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zaokrouhlení celkové èástky dokladu.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="calculateVAT" type="xsd:boolean" minOccurs="0" default="false">
                <xsd:annotation>
                    <xsd:documentation>Vypoèíst DPH ze zaokrouhlení.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeCalculateVATInclusivePrice" type="typ:typeCalculateVATInclusivePriceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zpùsob výpoètu hodnoty DPH z èástky vèetnì danì dle § 37. Pokud není element uveden, použije se zpùsob výpoètu dle data zdanitelného plnìní. (pouze CZ verze)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kè. V pøípadì použití cizí mìny, je tuzemská èástka pøi importu ignorována.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cizí mìna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType name="voucherTypeType">
        <xsd:annotation>
            <xsd:documentation>Typ pokladního dokladu.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="receipt">
                <xsd:annotation>
                    <xsd:documentation>Pøíjmový doklad.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="expense">
                <xsd:annotation>
                    <xsd:documentation>Výdajový doklad.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- RESPONSE -->

    <xsd:element name="voucherResponse" type="vch:voucherResponseType"/>

    <xsd:complexType name="voucherResponseType">
        <xsd:complexContent>
            <xsd:extension  base="rdc:documentResponseType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
