doc/xsd/vyroba.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
			xmlns:vyr="http://www.stormware.cz/schema/version_2/vyroba.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/vyroba.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/vyroba.xsd"
			elementFormDefault="qualified">

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" 					schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" 					schemaLocation="print.xsd"/>

<!-- **************************************************************************
		Výroba
	 ************************************************************************** -->

<!-- REQUEST -->
<xsd:element name="vyroba" type="vyr:vyrobaType"/>

<xsd:complexType name="vyrobaType">
	<xsd:sequence>
		<xsd:element name="vyrobaHeader" type="vyr:vyrobaHeaderType" minOccurs="0"/>
	 	<xsd:element name="vyrobaDetail" type="vyr:vyrobaDetailType" minOccurs="0"/>
    <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Po vytvoøení záznamu se provede jeho tisk.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="vyr:vyrVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="vyrVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="vyrobaHeaderType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu. Používá se pøi requestu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenèní èíslo dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="date" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum vyskladnìní (výdeje položek výrobku). Pokud hodnota není uvedena, použije se aktuální datum.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
			<xsd:element name="time" type="xsd:time" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èas vyskladnìní (výdeje položek výrobku). Pokud hodnota není uvedena, použije se aktuální èas.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="dateOfReceipt" type="typ:dateOrNull" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum výroby (pøíjmu výrobku). Pokud hodnota není uvedena, použije se datum vyskladnìní.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="timeOfReceipt" type="xsd:time" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Èas výroby (pøíjmu výrobku). Pokud hodnota není uvedena, použije se èas vyskladnìní.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Párovací symbol pro párování dokladu v saldu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="acc" type="typ:numberAccountType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Úèet pro naskladnìní výrobku na jiný výnosový úèet</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="text" type="typ:string48" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text dokladu. Tento element je vyžadován pøi vytvoøení dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="centreSource" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zdrojové støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="centreDestination" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cílové støedisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Èinnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamèené prvním stupnìm mohou editovat pouze uživatelé, kteøí mají v agendì Pøístupová práva nastaveno právo Editace záznamù uzamèených I. stupnìm. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek II (pouze verze E1). Uzamèení dokladù pro uživatele s vyšším oprávnìním. Takto uzamèené doklady nelze editovat. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Oznaèení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "oznaèený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="labels" type="typ:labelsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Štítky záznamu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="validate" type="typ:typeValidate" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podmínìná kontrola dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="vyrobaDetailType">
	<xsd:sequence>
		<xsd:element name="vyrobaItem" type="vyr:vyrobaItemType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="vyrobaItemType">
	<xsd:all>
	  	<xsd:element name="quantity" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Množství.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
		<xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="expirationDate" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum expirace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="productionList" type="vyr:productionListType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Položky výrobku (Výrobní list). Není-li element uveden, použije se definice výrobku v agendì Zásoby. Export elementu je podmínìn atributem "lst:productionList". Pouze POHODA E1.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="productionListType">
  <xsd:sequence>
    <xsd:element name="productionListItem" type="vyr:productionListItemType" minOccurs="1" maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation>Položka výrobku (Výrobního listu).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="productionListItemType">
  <xsd:all>
    <xsd:element name="stockItem" type="typ:stockItemType" minOccurs="1">
      <xsd:annotation>
        <xsd:documentation>Údaje potøebné k nalezení skladové zásoby vložené do položky výrobku.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="quantity" type="xsd:float" minOccurs="1">
      <xsd:annotation>
        <xsd:documentation>Množství.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="unit" type="typ:unitType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Mìrná jednotka.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="expirationDate" type="typ:dateOrNull" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum expirace.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>  
  
<!-- RESPONSE -->

<xsd:element name="vyrobaResponse" type="vyr:vyrobaResponseType"/>

<xsd:complexType name="vyrobaResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
